body{
    background-image: url('https://en.idei.club/uploads/posts/2023-06/thumbs/1686819717_en-idei-club-p-elegant-blue-background-dizain-instagram-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: 'Great Vibes', cursive;
}
h2{
    font-family: 'Lobster Two', cursive;
    letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid brown;
        background: peachpuff;
        color: darkred;
        box-shadow: 1px 1px 5px black;
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
}